* {
   
    padding: 0;
    margin: 0;
    
}
html{
    font-size: 10px;
    overflow-x: hidden;
    height: 100%;
}
::selection{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.525);
}

body{
    height: 100%;
}
body > footer {
    position: sticky;
    top: 100vh;
}
#aboutus{}
#contacts{}
#materials{}
#production{}
#more{}
#more1{}
#more2{}
#more3{}
#catalog1{}
#catalog2{}
#footimg{}
#verx{}
.form{
    text-decoration: none;
    color: var(--background-blue_h1_foottext);
}
a:hover{
    color:#211ef9;
    background-color: #cecdffa1;
}
a:active{
    box-shadow: 2px 2px 5px #cecdffa1;
}
a:focus{
    background-color: rgba(239, 202, 255, 0.527);
}
button:hover{
    color:#211ef9;
    background-color: #cecdffa1;
}
button:active{
    box-shadow: 2px 2px 5px #cecdffa1;   
}
button:focus{
    background-color: rgba(239, 202, 255, 0.527);
}
:root
{
    --circulation-color: #B5B5BD;
    --h2_3-color: #666666;
    --cataloghref-color: #7875FE;
    --text-color: #85859B;
    --background-white: #FFFFFF;
    --background-gray: #EBEBEB;
    --background-blue_h1_foottext: #4C5866;

}
h1{
    color: var(--background-blue_h1_foottext);
    font-size: 30px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
    font-weight: normal;
    min-width: 22.1rem;
    min-height: 6rem;
    max-width: 44.4rem;
    max-height: 12rem;
    margin: 0 0 0 0;
    box-sizing: content-box;
}
h2{
    font-size: 2.4rem;
    color: var(--h2_3-color);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
    
    font-weight: normal;
}
h3{
    font-size: 1.6rem;
    color: var(--h2_3-color);
    font-weight: bold;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
    font-weight: normal;
}
header {
    width: auto;
    height: auto;
}
main {
    width: auto;
    overflow: hidden;
    height: auto;
}
footer {
    width: auto;
    height: auto;
}
.morehref{
    font-size: 2rem;
    text-decoration: none;
    color: var(--cataloghref-color);
    text-align: left;
    width: 12.9rem;
    height: 2.3rem;
}
.cataloghref{
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.4rem 3.8rem;
    border: 1px solid var(--cataloghref-color);
    text-decoration: none;
    color: var(--cataloghref-color);
    text-align: left;
}
.text_margin_14_0_0_0{
    margin: 1.4rem 0 0 0;
}
.text_14px{
    font-size: 1.4rem;
    min-width: 287px;
    max-width: 445px;
    margin: 1.5rem 0 2.1rem 0;
}
.first-text{
    max-width: 445px;
    min-width: 287px;
}
.text_interval170{
    line-height: 170%;
}
.text_interval150{
    line-height: 150%;
}
.text{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: left;
}
.pole{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 10px;
}     
.mar{
    margin-bottom: 10px;
}
.circulation{
    color: var(--circulation-color);
    font-size: 1.4rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
    margin: 0.4rem 0 0.6rem 0;
}
.backwhite
{
    background-color: var(--background-white);
    
}
.backgray
{
    background-color: var(--background-gray);
}
.backblue
{
    background-color: var(--background-blue_h1_foottext);  
}
.foottext{
    color: var(--background-blue_h1_foottext);
    font-size: 1.3rem;
    text-align: center;
    display: inline;
    margin: 0.3rem;
}
.iconssimple{
    margin: 2rem 9rem 1.5rem 9rem;
    box-sizing: content-box;
}
.icons{
display: inline;
margin: 2rem 1.5rem;
box-sizing: content-box;
}
.menu{
    width: 3rem;
    height: 3rem;
   
}
.search{
    width: 2.4rem;
    height: 2.4rem;

}
.log_in{
    width: 2.4rem;
    height: 2.4rem;
 
}
.margin_60_0_0_0{
    margin: 6rem 0 0 0;
}
.margin_60_0_0_0_1{
    margin: 6rem 0 0 0; 
}
.margin_20_0_30_0{
    margin: 2rem 0 3rem 0;
}
.margin_20_0_0_0{
    margin: 2rem 0 0 0;
}

.margin_0_0_60_0{
    margin:  0 0 6rem 0;
}
.margin_0_0_120_0{
    margin:  0 0 12rem 0;
}
.margin_0_114_0_114{
    margin: 0 11.4rem 0 11.4rem;  
    display: flex;
}
.margin_0_0_0_54{
    margin: 0 0 0 5.4rem;  
    display: flex;
}
.knopochki{
    display: flex;
width: 320px;
justify-content: center;
align-items: center;
gap: 182px;
}
.otstup{
    margin: 0 15px;
}
.padding_60{
    padding: 60px 0;
}

.zagolovok{
    color: #333333;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.verxpanel{
    display: inline;
}
.divmorehref{
    margin: 3rem 0 0 0;
}
.cartonresultsize{
    width: 13rem;
    height: 9.6rem;

}
.versionsize{
    width: 2.3rem;
    height: 2.4rem;
}
.resultsize{
    max-width: 16rem;
    max-height: 4.8rem;
}
.openboxsize{
    width: 29rem;
    height: 22.3rem;
}
.beliznasize{
    width: 27rem;
    height: 2.4rem;
    margin: 0px 0 14px 0;
}
.beliznatextsize{
    max-width: 51rem;
    max-height: 33.4rem;
}
.section3imagesize{
    width: 29rem;
    height: 18rem;
}
.upakovka{
    width: 10.7rem;
    height: 2.8rem;
}

.tiragsize{
    max-width: 12.7rem;
    max-height: 1.6rem;
}
.tovarovextsize{
    max-width: 51rem;
    max-height: 29.9rem;
}
.companisesiaze{
    width: 15rem;
    height: 8rem;
}
.sketchbooksize{
    width: 29rem;
    height: 22.1rem;
}
.sketchbooksizehead{
    width: 18rem;
    height: 2.4rem;
    color: var(--h2_3-color);
}
.poketsize{
    width: 8.6rem;
    height: 2.8rem;
}
.keyssize{
    width: 7.3rem;
    height: 2.8rem;
}
.othersize{
    width: 18rem;
    height: 2.8rem;
}
.sketchbooktextsize{
    width: 28.9rem;
    max-height: 135px;
}
.h1text{
    width: 28.9rem;
    height: 8.4rem;
}
.simple{
    margin: 1.1rem 9rem 1.2rem 9rem;
}
.inline{
    display: inline-block;
    box-sizing: border-box;
}
.divversionsize{
    width: 29rem;
    height: 11.6rem;
}
.versionfloat{
    float: right;
}
.headtext{
    margin: 1.5rem 0 2.1rem 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.hr1{
    width: 100%; 
    color: #DDDDDD;
}
.hr2{
    width: 100%; 
    color: #C0C0C0;
    margin-bottom: 19px;
}
.hr3{
    width: 90%; 
    color: #DDDDDD;
}
.flex{
    display: flex;
}
.gridtext{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    color: var(--text-color);
    font-size: 5.4rem;
    text-align: left;
}
.flex-item-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.flex-column2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: left;
    align-items: left;
}
.flex-column1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: left;
}
.flex-column-left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-self: left;
    justify-content: left;
    align-items: left;
}
.flex-column-carton{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.flexcarton{
    display: flex;
    padding: 20px 0 0 0;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-clomn-60{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
}
.flex-row{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    align-self: center;
    justify-content: center;
    overflow: auto;
    
}
.padding_20{
    padding: 20px 0;
}
.flex-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}
.simplesize{
    height: 22px;
    width: 140px;
}
.flex-icons{
    column-gap: 30px;
    display: flex;
}
.flex-icons-header{
    display: flex;
    padding: 15px 0;
    
    justify-content: space-between;
}
.flex-search-exit{
    display: flex;
    column-gap: 30px;
}
.margin_10_0{
    margin: 10px 0;
}
.flex-item-center1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}
.flexihe{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
    justify-content: center;
}
.flexihe2{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
}
#main{}
.skip-link {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px 15px;
    color: #ffffff;
    transform: translateY(-100%);
  }

.grid{
    display: grid;
    grid-template-columns: 200px 302px 302px 302px;
    grid-template-rows: 280px 280px 280px;
    column-gap: 10px;
    row-gap:  10px;
    grid-template-areas: 
    "panel osnova-head osnova-head osnova-head"
    "panel osnova-main osnova-main osnova-main"
    "panel osnova-foot osnova-foot osnova-foot"
    ;
}
.box1{
    grid-area: panel;
    
}
.box2{
    grid-area: osnova-head;
}
.box3{
    grid-area: osnova-main;
}
.box4{
    grid-area: osnova-foot;
}
.RAM{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    width: 60%;
   
}
.miniram{ 
    display: block;
  justify-self: center;
}
.child1{
    display: grid;
    grid-column: span 1;
    max-width: 100%;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    justify-items: center;
    align-items: center;
}
.child1 a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    grid-column: -1/1;
    grid-row-start: 1;
}
.child1 img {
    grid-column: -1/1;
    grid-row-start: 1;
}
.hide-pic{
    overflow:hidden;
}
.head1{
    display: none;
}
.head2{
    display: block;
}
.nav1{
    display: block;
}
.nav2{
    display: none;
}
.menus{
color: #4C5866;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nav5{
    display: none;
}
.margin_carton{
    margin-bottom: 60px;
}
.sketchbooksize1{
    width: 730px;
    height: 100px;
    overflow: hidden;
}
.lebel{
    background-color: #f1f1f1;
}
@media screen and (max-width:576px){
    .LONG{
        display: none;
    }
    .padding_49_0_49_0{
        max-height: 328px;
        padding: 49px 0 49px 0;
    }
    .resultsize{
        max-width: 13rem;
        max-height: 4.8rem;
    }
    .sketchbooktextsize
    {
        width: 289px;
        margin: 15px 0;
    }
    .sketch1{
        display: none;
    }
    .sketch2{
        display: block;
    }
    .pole{
        font-size: 8px;
    }
    .legend{
        font-size: 24px;
        width: 100%;
        height: 100%;
        color: var(--h2_3-color);
    }
}
@media screen and (max-width:768px) and (min-width: 576px){
    .LONG {
        object-fit: cover;
        width: 100%;
    }
    .LONGBOX{
        min-height: 328px;
        min-width: 195px;
        max-width: 270px;
        max-height: 410px;
        margin-left:29px;
    }
    .padding_49_0_49_0{
        max-height: 416px;
        padding: 20px 0 0 0;
    }
    .text_14px{
        font-size: 1.6rem;
    }
    h1{
        font-size: 38px;
    }
    .cataloghref{
        font-size: 18px;
        padding: 1.8rem 6rem;
    }
    .head2{
    display: none;
    }
    .head1{
        display: block; 
    }
    .otstup{
        margin: 0 29px;
    }
    .flex-item-center1{
        justify-content: space-between;
    }
    .nav1{
        display: none;
    }
    .nav2{
        display: block;
    }
    .flex-icons-header{
        justify-content: space-between;   
    }
    .nav3{
        display: none;
    }
    .flexcarton{
        flex-direction: column;
        align-items: left;
        width: 150px;
    }
    .openboxsize{
        width: 33rem;
        height: 25.5rem;
    }
    .margin_carton{
        margin-bottom: 40px;
    }
    .section3imagesize{
        width: 238px;
        height: 180px;   
    }
    .tovarovextsize{
        max-width: 24rem;
    }
    .section3img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .companisesiaze{
        width: 240px;
        height: 127px;
    }
    .flex-row{
        flex-wrap: wrap;
    }
    .sketchbooksize{
        width: 449px;
        height: 341px;
    }
    .sketchbooktextsize
    {
        width: 510px;
        margin: 15px 0;
    }
    .hr3
    {
        display: none;
    }
    .flex-footer{
        justify-content: space-between;
    }
    .padding_20{
        padding: 20px 33px;
    }
    .sketch1{
        display: none;
    }
    .sketch2{
        display: block;
    }
    .pole{
        font-size: 8px;
    } 
    .legend{
        font-size: 24px;
        width: 100%;
        height: 100%;
        color: var(--h2_3-color);
    }
    
}  
@media screen and (max-width:1439px) and (min-width: 768px){
    .flexihe2{
        max-width: 750px;
        justify-content: center;
        align-items: center;
    }
    .LONG {
        object-fit: cover;
        width: 100%;
    }
    .LONGBOX{
        min-height: 410px;
        min-width: 270px;
        max-width: 470px;
        max-height: 410px;
        margin-left: 30px;
    }
    .padding_49_0_49_0{
        max-height: 470px;
        padding: 60px 0 0 0;
    }
    .text_14px{
        font-size: 1.8rem;
    }
    h1{
        font-size: 50px;
    }
    .cataloghref{
        font-size: 20px;
        padding: 2.2rem 8.9rem;
    }
    .head2{
        display: none;
    }
    .head1{
         display: block;
    }
    .otstup{
        margin: 0 39px;
    }
    .flex-item-center1{
        justify-content: space-between;
    }
    .nav1{
        display: none;
    }
    .nav2{
        display: block;
    }
    .flex-icons-header{
        justify-content: space-between;
    }
    .nav3{
        display: none;
    }
    .flexcarton{
        flex-direction: column;
        align-items: left;
        width: 210px;
    }
    .openboxsize{
        width: 33rem;
        height: 25.5rem;
        
    }
    .flex-column1{
        flex-direction: row;
        column-gap: 30px;
    }
    .beliznatextsize{
        max-width: 330px;
    }
    .margin_carton{
        margin-bottom: 40px;
    }
    .hr3{
        font-size: 18px;
    }
    .text{
        font-size: 18px;
    }
    .beliznasize{
        font-size: 30px;
        height: 60px;
        width: 330px;
    }
    .section3imagesize{
        width: 330px;
        height: 180px;   
    }
    .tovarovextsize{
        max-width: 33rem;
    }
    .section3img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .flex-row{
        flex-wrap: wrap;
    }
    .othersize{
        font-size: 30px;
        width: 225px;
        margin-bottom: 10px;
    }
    .flex-column{
        flex-direction: row-reverse;
    }
    .sketchbooksize{
        width: 449px;
        height: 341px;
    }
    .sketchbooksize1{
        width: 730px;
        height: 200px;
        overflow: hidden;
    }
    .sketchbooktextsize
    {
        width: 330px;
    }
    .flexsketch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;
        margin-right: 30px;
        margin-left: 120px;
    }
    .margin_0_0_60_0{
        margin: 0 0 0 0;
    }
    .sketchbooksizehead{
        font-size: 30px;
        width: 225px;
    }
    .legend{
        width: 100%;
        height: 100%;
        color: var(--h2_3-color);
        font-size: 30px;
    }
    .hr3
    {
        display: none;
    }
    .flex-footer{
        justify-content: space-between;
    }
    .padding_20{
        padding: 20px 39px;
    }
    .sketch1{
        display: none;
    }
    .sketch2{
        display: block;
    }
    .pole{
        font-size: 10px;
    }
}
@media screen and (min-width: 1439px){
    .LONG{
        object-fit: cover;
        width: 100%;
        margin-top: 600px;
    }
    .LONGBOX{
        min-height: 560px;
        min-width: 540px;
        margin-left:125px; 
    }
    .padding_49_0_49_0{
        max-height: 620px;
   
    }
    .text_14px{
        font-size: 1.8rem;
    }
    h1{
        font-size: 60px;
    }
    .cataloghref{
        font-size: 20px;
        padding: 2.6rem 8.9rem;
    }
    .head2{
        display: none;
    }
    .head1{
    display: block;
    }
    .otstup{
        margin: 0 165px;
    }
    .flex-item-center1{
        height: 69px;
        justify-content: space-between;
    }
    .nav1{
        display: none;
    }
    .nav2{
        display: none;
    }
    .flex-icons-header{
        justify-content: space-between;
    }
    .nav3{
        display: none;
    }
    .nav4{
        display: none;
    }
    .nav5{
        display: block;
    }
    .flexcarton{
  
        width: 350px;
    }
    .openboxsize{
        width: 73rem;
        height: 56.4rem;
    }
    .flex-column1{
        flex-direction: row;
        column-gap: 30px;
    }
    .beliznatextsize{
        max-width: 330px;
    }
    .margin_carton{
        margin-bottom: 90px;
    }
    .hr3{
        font-size: 18px;
    }
     .text{
        font-size: 18px;
    }
    .beliznabox{
        padding: 59px 0 0 0;
    }
    .beliznasize{
        font-size: 40px;
        height: 85px;
        width: 350px;
    }
    .section3imagesize{
        width: 255px;
        height: 180px;   
    }
    .tovarovextsize{
        max-width: 25.5rem;
    }
    .section3img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .companisesiaze{
      width: 255px;
      height: 135px;  
    }
    .flex-row{
        flex-wrap: wrap;
    }
    .othersize{
        font-size: 30px;
        width: 225px;
        margin-bottom: 10px;
    }
    .sketchbooksize{
        width: 730px;
        height: 555px;
        overflow: hidden;
    }
    .sketchbooksize1{
        width: 730px;
        height: 400px;
        overflow: hidden;
    }
    .sketchbooktextsize
    {
        width: 330px;
        
    }
    .flexsketch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;
        margin-right: 30px;
        margin-left: 120px;
    }
    .margin_0_0_60_0{
        margin: 0 0 0 0;
    }
    .flex-column{
        flex-direction: row-reverse;
    }
    .max{
        max-height: 500px;
    }
    .margin_60_0_0_0{
        margin-top: 100px;
    }
    .sketchbooksizehead{
        font-size: 40px;
        width: 299px;
    }
    .legend{
        width: 100%;
        height: 100%;
        color: var(--h2_3-color);
        font-size: 40px;
    }
    .hr3
    {
        display: none;
    }
    .flex-footer{
        justify-content: space-between;
    }
    .padding_20{
        padding: 20px 162px;
    }
    .sketch1{
        display: block;
    }
    .sketch2{
        display: none;
    }
    .pole{
        font-size: 10px;
    }
}
.form{
   max-width: 70%;
}
.logo{
    transform: rotate(30deg) scale(1.5) skewX(20deg) skewY(20deg);
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    
    animation: spin 3s ease-out 0s forwards;
    position: absolute;
    
    
    }
    
    .opaloader {
    visibility: hidden;
    animation: fadeIn 0.5s ease-out 3s forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .card {
        position: relative;
    }
    
    
    @keyframes spin {
    from {
    opacity: 0;
    transform: rotate(0deg);
    }
    
    to {
    visibility: hidden;
    opacity: 1;
    transform: rotate(1440deg);
    }
    }
    
    @keyframes fadeIn {
    from {
    opacity: 0;
    }
    
    to {
    visibility: visible;
    opacity: 1;
    }
}