* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 10px;
}
:root
{
    --circulation-color: #B5B5BD;
    --h2_3-color: #666666;
    --cataloghref-color: #7875FE;
    --text-color: #85859B;
    --background-white: #FFFFFF;
    --background-gray: #EBEBEB;
    --background-blue_h1_foottext: #4C5866;

}
h1{
    color: var(--background-blue_h1_foottext);
    font-size: 3rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
}
h2{
    font-size: 2.4rem;
    color: var(--h2_3-color);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
}
h3{
    font-size: 1.6rem;
    color: var(--h2_3-color);
    font-weight: bold;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
}
header {
    width: 100%;
}
main {
    width: 100%;
}
footer {
    width: 100%;
}
.morehref{
    font-size: 2rem;
    text-decoration: none;
    color: var(--cataloghref-color);
    text-align: left;
  
}
.cataloghref{
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.4rem 3.8rem;
    border: 1px solid var(--cataloghref-color);
    text-decoration: none;
    color: var(--cataloghref-color);
    text-align: left;
}
.text_14px{
    font-size: 1.4rem;
}
.text_interval170{
    line-height: 170%;
}
.text_interval150{
    line-height: 150%;
}
.text{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: left;
}
.circulation{
    color: var(--circulation-color);
    font-size: 1.4rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    text-align: left;
}
.backwhite
{
    background-color: var(--background-white);
}
.backgray
{
    background-color: var(--background-gray);
}
.backblue
{
    background-color: var(--background-blue_h1_foottext);  
}
.foottext{
    color: var(--background-blue_h1_foottext);
    font-size: 1.3rem;
    text-align: center;
    display: inline;
    margin: 0.3rem;
}
.icons{
display: inline;
margin: 2rem 1.5rem;
box-sizing: content-box;
}
.margin_60_0_0_0{
    margin: 6rem 0 0 0;
}
.margin_20_0_30_0{
    margin: 2rem 0 3rem 0;
}
.margin_0_0_60_0{
    margin:  0 0 6rem 0;
}
